<footer class="container-fluid text-center bg-black">

        <div class="copyrights" style="margin-top:25px;">
            <p class=whitetext>Universitas Indonesia © 2018, All Rights Reserved
                <br>
                <span>Web Design By: Basdat Kelas E Kelompok 5</span></p>
        </div>
</footer>