<div class="navbar-wrapper">
  <div class="container-fluid">
    <nav class="navbar navbar-fixed-top">
      <a href="#" class="navbar-brand">BMNC</a>
      <div class="container">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Berita <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Lihat Berita</a>
                </li>
                <li>
                  <a href="../tambah_berita/">Tambah Berita</a>
                </li>
                <li>
                  <a href="#">Cari Berita [on maintenance]</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle active">Polling <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Lihat Polling</a>
                </li>
                <li>
                  <a href="../tambah_polling/">Tambah Polling</a>
                </li>
              </ul>
            </li>
            <li class="down">
              <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle active">Others <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Memberikan Rating [on maintenance]</a>
                </li>
                <li>
                  <a href="#">Memberikan Komentar  [on maintenance]</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle active">Signed in as  <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Change Password</a>
                </li>
                <li>
                  <a href="#">My Profile</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>