{% extends "base.html" %} 
{% block content %}
<form class="form-horizontal">
<fieldset id="i4xefp">

<!-- Form Name -->
<legend id="iuesx9">Tambah Polling</legend>

<!-- Select Basic -->
<div id="forms" class="form-group">
  <label class="col-md-4 control-label" for="polling-id">Jenis Polling</label>
  <div class="col-md-4">
    <select id="polling-id" name="polling-id" class="form-control" onchange="formType(this.value)">
	
      <option>Select Polling</option>
	  <option value="1">Polling Berita</option>
      <option value="2">Polling Biasa</option>
    </select>
  </div>
</div>

</fieldset>
</form>
<style>
#i4xefp{
    height:auto;
    margin:60px 0 0 0;
  }
  #iuesx9{
    font-family:Helvetica, serif;
    text-align:center;
    font-size:24px;
    font-weight:600;
    color:#000000;
    line-height:34px;
    text-decoration:none;
  }
  #iy8xyu{
    margin-top:25px;
  }
  .row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
  }
</style>
<script type="text/javascript">
function formType(value) {
if(value == 1) {
document.getElementById("forms").innerHTML = 
<!-- Text input-->
'<div class="form-group">' +
  '<label class="col-md-4 control-label" for="urlberita-id">URL Berita</label>' +  
  '<div class="col-md-4">' +
  '<input id="urlberita-id" name="urlberita-id" type="text" placeholder="mis: beritabirumerah.com/<nomor id>" class="form-control input-md" required="">'  +
    
  '</div>' +
'</div>' +

<!-- Text input-->
'<div class="form-group">' +
  '<label class="col-md-4 control-label" for="mulai-id">Waktu Mulai</label>' +  
  '<div class="col-md-4">' +
  '<input id="mulai-id" name="mulai-id" type="text" placeholder="mis: 08:00" class="form-control input-md">' +
    
  '</div>' +
'</div>' +

<!-- Text input-->
'<div class="form-group">' +
  '<label class="col-md-4 control-label" for="selesai-id">Waktu Selesai</label>' +  
  '<div class="col-md-4">' +
  '<input id="selesai-id" name="selesai-id" type="text" placeholder="mis: 16:00" class="form-control input-md">' +
    
  '</div>' +
'</div>' +

<!-- Text input-->
'<div class="form-group">' +
  '<label class="col-md-4 control-label" for="pertanyaan-id">Pertanyaan Seputar Polling</label>' +  
  '<div class="col-md-4">' +
  '<input id="pertanyaan-id" name="pertanyaan-id" type="text" placeholder="mis: Apa kegunaan Polling Ini?" class="form-control input-md">' +
    
  '</div>' + 
'</div>' +

<!-- Button -->
'<div class="form-group">' +
  '<label class="col-md-4 control-label" for="submitbutton-id"></label>' +
  '<div class="col-md-4">' +
    '<button id="submitbutton-id" name="submitbutton-id" class="btn btn-primary">Submit</button>' +
  '</div>' +
'</div>';
}
else if (value == 2) {
document.getElementById("forms").innerHTML = 
<!-- Text input-->
'<div class="form-group">' +
  '<label class="col-md-4 control-label" for="deskripsi-id">Deskripsi</label>' +  
  '<div class="col-md-4">' +
  '<input id="deskripsi" name="deskripsi-id" type="text" placeholder="mis: ini merupakan ini" class="form-control input-md" required="">'  +
    
  '</div>' +
'</div>' +

<!-- Text input-->
'<div class="form-group">' +
  '<label class="col-md-4 control-label" for="mulai-id">Waktu Mulai</label>' +  
  '<div class="col-md-4">' +
  '<input id="mulai-id" name="mulai-id" type="text" placeholder="mis: 08:00" class="form-control input-md">' +
    
  '</div>' +
'</div>' +

<!-- Text input-->
'<div class="form-group">' +
  '<label class="col-md-4 control-label" for="selesai-id">Waktu Selesai</label>' +  
  '<div class="col-md-4">' +
  '<input id="selesai-id" name="selesai-id" type="text" placeholder="mis: 16:00" class="form-control input-md">' +
    
  '</div>' +
'</div>' +

<!-- Text input-->
'<div class="form-group">' +
  '<label class="col-md-4 control-label" for="pertanyaan-id">Pertanyaan Seputar Polling</label>' +  
  '<div class="col-md-4">' +
  '<input id="pertanyaan-id" name="pertanyaan-id" type="text" placeholder="mis: Apa kegunaan Polling Ini?" class="form-control input-md">' +
    
  '</div>' + 
'</div>' +

<!-- Button -->
'<div class="form-group">' +
  '<label class="col-md-4 control-label" for="submitbutton-id"></label>' +
  '<div class="col-md-4">' +
    '<button id="submitbutton-id" name="submitbutton-id" class="btn btn-primary">Submit</button>' +
  '</div>' +
'</div>';
}
}

</script>

{% endblock %}