{% extends "base.html" %} 
{% block content %}
<form class="form-horizontal">
  <fieldset id="i4xefp">
    <legend id="iuesx9">Tambah Artikel</legend>
    <div class="row">
    </div>
    <div class="form-group">
      <label for="judul-id" class="col-md-4 control-label">Judul</label>
      <div class="col-md-4">
        <input id="judul-id" name="judul-id" type="text" placeholder="mis: CompFest" class="form-control input-md"/>
      </div>
    </div>
    <div class="form-group">
      <label for="url-id" class="col-md-4 control-label">URL</label>
      <div class="col-md-4">
        <input id="url-id" name="url-id" type="text" placeholder="mis: beritabirumerah.com/<nomor berita>" required="" class="form-control input-md"/>
      </div>
    </div>
    <div class="form-group">
      <label for="topik-id" class="col-md-4 control-label">Topik</label>
      <div class="col-md-4">
        <input id="topik-id" name="topik-id" type="text" placeholder="mis: Acara" class="form-control input-md"/>
      </div>
    </div>
    <div class="form-group">
      <label for="jumlahkata-id" class="col-md-4 control-label">Jumlah Kata</label>
      <div class="col-md-4">
        <input id="jumlahkata-id" name="jumlahkata-id" type="text" placeholder="mis: 100 kata" class="form-control input-md"/>
      </div>
    </div>
    <div class="form-group">
      <label for="tag-id" class="col-md-4 control-label">Tag</label>
      <div class="col-md-4">
        <input id="tag-id" name="tag-id" type="text" placeholder="mis: UI" class="form-control input-md"/>
      </div>
    </div>
    <div class="form-group">
      <label for="submit-button" class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <button id="submit-button" name="submit-button" class="btn btn-primary">SUBMIT</button>
      </div>
    </div>
  </fieldset>
</form>

<style>
  #i4xefp{
    height:auto;
    margin:60px 0 0 0;
  }
  #iuesx9{
    font-family:Helvetica, serif;
    text-align:center;
    font-size:24px;
    font-weight:600;
    color:#000000;
    line-height:34px;
    text-decoration:none;
  }
  #iy8xyu{
    margin-top:25px;
  }
  .row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
  }
    @media (max-width: 768px){
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
  }
</style>

{% endblock %}