{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      
      {% block meta %}
        <!-- insert nama yang bakal keluar dari nama webnya disini-->
      {% endblock %}

      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>      
      
      {% block title %}
	  <!-- insert title sesuai sama fungsi masing masing yow-->
      {% endblock %}
      

      {% block css %}
	  <link rel="stylesheet" type="text/css" href="{% static '/css/base.css' %}" />
	  <!-- insert your css here -->
      {% endblock %}
  </head>

  <body >
      <header>
        {% include "partials/header.html" %}
      </header>

      <content>
        {% block content %}
		
        {% endblock %}
      </content>

      <footer>
        {% include "partials/footer.html" %}
      </footer>
  </body>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <style>
* {
  box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  *{
    box-sizing:border-box;
  }
  .dropdown-toggle{
    background-color:rgb(0, 0, 0);
  }
  body{
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    background-color:rgb(255, 255, 255);
    background-image:initial;
    background-position-x:initial;
    background-position-y:initial;
    background-size:initial;
    background-repeat-x:initial;
    background-repeat-y:initial;
    background-attachment:initial;
    background-origin:initial;
    background-clip:initial;
  }
  .navbar{
    background-color:rgb(34, 34, 34);
    color:rgb(221, 221, 221);
    min-height:50px;
    width:100%;
    background-image:initial;
    background-position-x:initial;
    background-position-y:initial;
    background-size:initial;
    background-repeat-x:initial;
    background-repeat-y:initial;
    background-attachment:initial;
    background-origin:initial;
    background-clip:initial;
    border-top-width:initial;
    border-right-width:initial;
    border-bottom-width:initial;
    border-left-width:initial;
    border-top-style:none;
    border-right-style:none;
    border-bottom-style:none;
    border-left-style:none;
    border-top-color:initial;
    border-right-color:initial;
    border-bottom-color:initial;
    border-left-color:initial;
    border-image-source:initial;
    border-image-slice:initial;
    border-image-width:initial;
    border-image-outset:initial;
    border-image-repeat:initial;
  }
  .navbar-brand{
    vertical-align:top;
    display:inline-block;
    padding-top:5px;
    padding-right:5px;
    padding-bottom:5px;
    padding-left:5px;
    min-height:50px;
    min-width:50px;
    color:inherit;
    text-decoration-line:none;
    text-decoration-style:initial;
    text-decoration-color:initial;
    right:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
  }
  .navbar-collapse.collapse{
    background-color:rgb(0, 0, 0);
  }
  .dropdown-toggle.active{
    background-color:rgb(0, 0, 0);
  }
  .dropdown-menu{
    background-image:initial;
    background-position-x:initial;
    background-position-y:initial;
    background-size:initial;
    background-repeat-x:initial;
    background-repeat-y:initial;
    background-attachment:initial;
    background-origin:initial;
    background-clip:initial;
    background-color:rgb(9, 186, 50);
    border-top-width:initial;
    border-right-width:initial;
    border-bottom-width:initial;
    border-left-width:initial;
    border-top-style:none;
    border-right-style:none;
    border-bottom-style:none;
    border-left-style:none;
    border-top-color:initial;
    border-right-color:initial;
    border-bottom-color:initial;
    border-left-color:initial;
    border-image-source:initial;
    border-image-slice:initial;
    border-image-width:initial;
    border-image-outset:initial;
    border-image-repeat:initial;
    box-shadow:none;
  }
  .nav > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a, .dropdown-menu > li{
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-bottom-color:transparent;
  }
  .nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
    border-bottom-width:3px;
    border-bottom-style:solid;
    border-bottom-color:transparent;
    background-image:initial;
    background-position-x:initial;
    background-position-y:initial;
    background-size:initial;
    background-repeat-x:initial;
    background-repeat-y:initial;
    background-attachment:initial;
    background-origin:initial;
    background-clip:initial;
    background-color:rgba(154, 154, 154, 0.27);
  }
  .navbar-toggle, .navbar a, .dropdown-menu > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover{
    color:rgb(255, 255, 255);
  }
  .nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
    border-bottom-width:4px;
    border-bottom-style:solid;
    border-bottom-color:rgb(182, 244, 35);
  }
  .nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
    border-bottom-width:4px;
    border-bottom-style:solid;
    border-bottom-color:rgb(130, 226, 234);
  }
  .nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
    border-bottom-width:4px;
    border-bottom-style:solid;
    border-bottom-color:rgb(248, 180, 44);
  }
  .nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
    border-bottom-width:4px;
    border-bottom-style:solid;
    border-bottom-color:rgb(253, 89, 74);
  }
  .nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
    border-bottom-width:4px;
    border-bottom-style:solid;
    border-bottom-color:rgb(232, 71, 157);
  }
  .nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
    border-bottom-width:4px;
    border-bottom-style:solid;
    border-bottom-color:rgb(161, 46, 235);
  }
  .nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
    border-bottom-width:4px;
    border-bottom-style:solid;
    border-bottom-color:rgb(71, 133, 217);
  }
  .nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
    border-bottom-width:4px;
    border-bottom-style:solid;
    border-bottom-color:rgb(42, 237, 154);
  }
  .navbar-toggle .icon-bar{
    color:rgb(255, 255, 255);
    background-image:initial;
    background-position-x:initial;
    background-position-y:initial;
    background-size:initial;
    background-repeat-x:initial;
    background-repeat-y:initial;
    background-attachment:initial;
    background-origin:initial;
    background-clip:initial;
    background-color:rgb(0, 0, 0);
  }
  .navbar.navbar-fixed-top{
    background-color:rgb(0, 0, 0);
  }
.dropdown-toggle{
  background-color:#000000;
}
.bg-black{
  background-color:black;
}
.whitetext{
  color:white;
}

  @media (max-width: 768px){
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
    .row{
      flex-wrap:wrap;
    }
  }
</style>
  {% block javascript %}

  {% endblock %}
</html>